[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
scispacy = "*"
blingfire = "*"
pandas = "*"
ipykernel = "*"
en-core-sci-sm = {file = "https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_sm-0.2.4.tar.gz"}
contractions = "*"
ftfy = "*"
torch = "*"
transformers = "*"
pytest = "*"
gensim = "*"
install = "*"
bert-tensorflow = "*"

[requires]
python_version = "3.6"
